{% macro footer(activeItem = 1, data) %}
  <footer class="footer">
    <div class="footer__top">
      <div class="container">
        <div class="row">
          <div class="col col--footer-info">
            <a href="index.html" class="logo logo--footer" title="Home page">
              <img src="./images/logo.svg" alt="ABC Fintech" class="logo__image">
            </a>
            <address class="footer__addr">3206 W. Armitage Avenue,
              <br>
              Chicago,<br>
              IL 60647
            </address>
            <a class="footer__phone" href="tel:+13129339196">+1 (312) 933-9196</a>
          </div>
          <div class="col col--footer-nav">
            {% set footerMenuCounter = 1 %}
            {% for category in data.footer_menu %}
              <div class="footer__nav-block">
                <h6 class="footer__category">{{category.category}}</h6>
                <ul>
                  {% for item in category.list %}
                    <li class="footer__nav-elem">
                      <a class="footer__nav-link{{' footer__nav-link--active' if activeItem==footerMenuCounter}}" href="{{item.link}}">{{item.text}}</a>
                    </li>
                    {% set footerMenuCounter = footerMenuCounter + 1 %}
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container container--copyright">
        <p class="footer__copyright">© 2021 ShareIt.
          <br class="footer__copyright-br">All Rights Reserved.</p>
        {% include "templates/partials/_social-menu.html" %}
      </div>
    </div>
  </footer>
    {% include "../partials/_chat.html" %}
{% endmacro %}
