{% from "templates/components/_icon.html" import icon %}

{% macro mobileMenu(activeItem = 1, data) %}
		<div class="mobile-menu">
				<div class="mobile-menu__wrapper">
						<div class="mobile-menu__top">
                <a href="index.html" class="logo logo--mobile-menu">
										<img class="logo__image" src="images/logo.svg" alt="ShareIt">
								</a>
								<button class="mobile-menu__close">
                  {{ icon('cross', class="icon--cross") }}
                </button>
						</div>
            <nav class="menu menu--mobile-menu">
              <ul class="menu__list">
                <li class="menu__item">
                  <a href="index.html" class="menu__link">
                    <span class="menu__icon">
                      {{ icon('market', class='icon--market-mobile-menu') }}
                    </span>
                    Market
                  </a>
                </li>
                <li class="menu__item">
                  <a href="index.html" class="menu__link">
                    <span class="menu__icon">
                      {{ icon('star', class='icon--star-mobile-menu') }}
                    </span>
                    My Subscriptions
                  </a>
                </li>
                <li class="menu__item">
                  <a href="index.html" class="menu__link">
                    <span class="menu__icon">
                      {{ icon('user', class='icon--user-mobile-menu') }}
                    </span>
                    Personal information
                  </a>
                </li>
                <li class="menu__item">
                  <a href="index.html" class="menu__link">
                    <span class="menu__icon">
                      {{ icon('card', class='icon--card') }}
                    </span>
                    Payment method
                  </a>
                </li>
                <li class="menu__item">
                  <a href="index.html" class="menu__link">
                    <span class="menu__icon">
                      {{ icon('logout', class='icon--logout') }}
                    </span>
                    Sign Out
                  </a>
                </li>
              </ul>
            </nav>
						<div class="mobile-menu__bottom">
							<p class="mobile-menu__copyright">© 2021 ShareIt. <br>All Rights Reserved.</p>
						</div>
					</div>
					<div class="mobile-menu__backdrop"></div>
				</div>
		{% endmacro %}
