<div class="alert alert--success" *ngIf="forgotPasswordSuccess$ | async">
  <div class="alert__icon">
    <svg-icon name="plane"></svg-icon>
  </div>
  <p class="alert__text">We have sent an email to your address with a link to restore your password</p>
</div>

<div class="alert alert--error" *ngIf="forgotPasswordError$ | async">
  <div class="alert__icon">
    <svg-icon name="attention"></svg-icon>
  </div>
  <p class="alert__text">
    <ng-container *ngIf="(forgotPasswordError$ | async).error && (forgotPasswordError$ | async).error.message">
      <ng-container *ngIf="(forgotPasswordError$ | async).error.message | isArray; else message">
        <span *ngFor="let p of (forgotPasswordError$ | async).error.message">{{p}}</span>
      </ng-container>
      <ng-template #message>{{(forgotPasswordError$ | async).error.message}}</ng-template>
    </ng-container>
  </p>
</div>

<p class="modal__text modal__text--forgot-password" [ngClass]="{'modal__text--disabled': forgotPasswordSuccess$ | async}">
  Please enter your email, and we will send you a link to change the password.
</p>

<form [formGroup]="formGroup" (submit)="handleFormSubmit($event)">
  <app-input-control label="Email" [control]="formGroup.get('email')" [isErrored]="isEmailInvalid" [isAutoFocus]="true" type="email"
    [disabled]="(isLoading$ | async) || (forgotPasswordSuccess$ | async)" [message]="isEmailInvalid ? 'Email is not correct' : ''">
  </app-input-control>
  <button *ngIf="!(forgotPasswordSuccess$ | async)" [attr.disabled]="!isSubmitEnabled ? 'disabled' : null" type="submit"
      class="button button--blue button--modal-submit" [ngClass]="{'button--loading': isLoading$ | async}">
    Send
  </button>
</form>

<button *ngIf="forgotPasswordSuccess$ | async" class="button button--black button--modal-submit" (click)="handleCloseModal()">
  Close
</button>

<p class="modal__text">
  Do not have an account?
  <span (click)="handleSignUp()" class="modal__link" [ngClass]="{'modal__link--loading': isLoading$ | async}"
    tabindex="0" title="">
    Sign Up
  </span>
</p>
