.menu {
  &--user-menu { // .menu--user-menu
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 12px;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 0 20px rgba(#000, 0.06), 0 5px 7px rgba(#000, 0.04);
    opacity: 0;
    transform-origin: top center;
    transform: perspective(600px) rotateX(-90deg);
    pointer-events: none;
    transition: opacity .15s ease, transform .15s cubic-bezier(0.075, 0.82, 0.165, 1);

    @media (max-width: 766.02px) {
      left: auto;
      right: 0;
      width: auto;
    }
  }

  &--mobile-menu { // .menu--mobile-menu
    margin-bottom: 45px;
  }

  &--user-menu-opened { // .menu--user-menu-opened
    opacity: 1;
    transform: perspective(600px) rotateX(0);
    pointer-events: all;
  }

  &__list { // .menu__list
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item { // .menu__item
  }

  &__icon { // .menu__icon
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    margin-right: 17px;

    .menu--mobile-menu & {
      margin-right: 7px;
    }
  }

  &__link { // .menu__link
    display: flex;
    align-items: center;
    padding: 10px 17px;
    font-size: 18px;
    font-weight: 500;
    color: $color-black;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: #f4fbfc;
      color: #065184;
    }

    &--active { // .menu__link--active
      background-color: #e7f5f8;
      color: #065184;
      pointer-events: none;
    }

    .menu--mobile-menu & {
      padding: 9px 25px;
      font-size: 16px;
    }
  }
}
