@import 'styles/vars/base';

.input-control {
  &__button {
    position: absolute;
    top: 13px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border-width: 0;
    background-color: $color-light-gray;
    color: #5c6266;
    transition: color 0.2s;

    &:hover {
      color: $color-blue;
    }

    .input-control--error & {
      color: $color-red;
    }
  }
}
