<section class="input-control" [ngClass]="{'input-control--error': isErrored}">
  <div class="input-control__wrapper">
    <input #input [type]="inputType" class="input-control__input" [formControl]="control" [attr.disabled]="disabled ? 'disabled' : null">
    <label class="input-control__label" [ngClass]="{'input-control__label--active': isFocused}">{{label}}</label>
    <span *ngIf="message && !hideMessage" class="input-control__message">{{message}}</span>
    <button *ngIf="!hideIcon" class="input-control__button" (click)="handlePasswordVisabilitySwitch($event)" type="button">
      <svg-icon name="eye-opened" class="icon icon--eye" *ngIf="isPasswordVisible"></svg-icon>
      <svg-icon name="eye-closed" class="icon icon--eye-with-line" *ngIf="!isPasswordVisible"></svg-icon>
    </button>
  </div>
</section>
