<section class="section section--hero">
  <div class="container">
    <div class="row row--hero">
      <div class="col col--hero-text">
        <h1 class="section__header">Sharing is saving!</h1>
        <p class="section__description">Share your subscriptions among our friendly community.</p>
        <button class="button button--blue button--hero">Let’s go!</button>
      </div>
      <div class="col col--hero-img">
        <img class="section__image" src="images/hero.svg" alt="">
      </div>
    </div>
  </div>
</section>
