<section class="section section--advantages">
  <div class="container">
    <h2 class="section__header">It’s simple, it’s safe.</h2>
    <div class="row row--advantages">
      <!-- advantage -->
      <div class="col col--advantage">
        <div class="advantage">
          <div class="advantage__icon-wrapper">
            <img class="advantage__icon" src="images/advantages/ssl.svg" alt="">
          </div>
          <h6 class="advantage__title">SSL Certificate</h6>
          <p class="advantage__text">The entire platform and its transaction take place in a secure environment with an SSL security certificate.</p>
        </div>
      </div>
       <!-- advantage -->
      <div class="col col--advantage">
        <div class="advantage">
          <div class="advantage__icon-wrapper">
            <img class="advantage__icon" src="images/advantages/cooling_off.svg" alt="">
          </div>
          <h6 class="advantage__title">Cooling-off Period</h6>
          <p class="advantage__text">Subscribers have 30 days to request to refund in case of issues.</p>
        </div>
      </div>
       <!-- advantage -->
      <div class="col col--advantage">
        <div class="advantage advantage--big-text">
          <div class="advantage__icon-wrapper">
            <img class="advantage__icon" src="images/advantages/stripe.svg" alt="">
          </div>
          <h6 class="advantage__title">Stripe Payment</h6>
          <p class="advantage__text">For secure payment transactions.</p>
        </div>
      </div>
    </div>
  </div>
</section>
