{% from "templates/components/_icon.html" import icon %}

<ul class="social-menu">
	<li class="social-menu__elem">
			<a href="https://twitter.com" class="social-menu__link" target="_blank">{{ icon('twitter') }}</a>
	</li>
	<li class="social-menu__elem">
			<a href="https://facebook.com" class="social-menu__link" target="_blank">{{ icon('facebook') }}</a>
	</li>
	<li class="social-menu__elem">
			<a href="https://instagram.com" class="social-menu__link" target="_blank">{{ icon('instagram') }}</a>
	</li>
	<li class="social-menu__elem">
			<a href="https://linkedin.com" class="social-menu__link" target="_blank">{{ icon('linkedin') }}</a>
	</li>
	<li class="social-menu__elem">
			<a href="https://youtube.com" class="social-menu__link" target="_blank">{{ icon('youtube') }}</a>
	</li>
</ul>
