<section class="section section--terms">
  <div class="container">
    <h1 class="section__header">Terms</h1>
    <h2 class="term__title">1. Purpose</h2>
    <p class="term__text">
      These general terms of use apply without restriction or reservation to all
      the services offered by Shareit.sg Pte. Ltd. on the website
      https://www.shareit.sg (hereinafter the
      <strong class="term__text-bold">"Site"</strong>).
    </p>
    <p class="term__text">
      The Site is a platform that offers to put users (hereinafter the
      <strong class="term__text-bold">"Owners"</strong>) who have subscriptions
      (hereinafter the <strong class="term__text-bold">"Subscriptions"</strong>)
      to a certain number of entertainment sites and platforms offered by
      distributors (hereinafter the
      <strong class="term__text-bold">"Distributors"</strong>) and which may
      benefit several users, in contact with users who would like to subscribe
      to one or more of these sites and platforms (hereinafter the
      <strong class="term__text-bold">"Subscribers"</strong>).
    </p>
    <p class="term__text">
      The Owners and the Subscribers are hereinafter referred to together as the
      <strong class="term__text-bold">"Users"</strong>.
    </p>
    <p class="term__text">
      In particular, the Site allows Owners and Subscribers to share the price
      of the relevant Subscriptions (hereinafter the
      <strong class="term__text-bold">"Services"</strong>).
    </p>
    <p class="term__text">
      The purpose of these general conditions is to define the terms and
      conditions of use of the Services and to define the rights and obligations
      of the parties in this context.
    </p>
    <h2 class="term__title">2. Services provided to Owners</h2>
    <p class="term__text">
      The Owner who has one or more Subscriptions open to several Users with one
      of the Distributors registered by Shareit.sg may offer his/her
      Subscription or Subscriptions for sharing on the Site.
    </p>
    <p class="term__text">
      The Owner acknowledges and accepts that it may only offer on the Site
      Subscriptions which, in accordance with the general terms and conditions
      of the Distributors, are open to several Users. In this respect,
      Shareit.sg will refuse to share any Subscription that does not meet this
      criterion.
    </p>
    <p class="term__text">
      The amount corresponding to the Subscriber's share of the Subscription
      will be paid by Shareit.sg into the Owner's bank account. In this respect,
      the Owner may provide Shareit.sg with all the documents or information
      requested.
    </p>
    <p class="term__text">
      As an exception to the foregoing, the Owner acknowledges and accepts that
      the amount of the Subscriber's subscription will only be paid to the Owner
      once Shareit.sg has collected the sums due by the Subscriber.
      Consequently, in the event of non-payment by the Subscriber, no refund may
      be made by Shareit.sg to the Owner.
    </p>
    <p class="term__text">
      In the event that the Owner terminates one of his Subscriptions, his/her
      Subscription will remain available to Subscribers for 30 (thirty) days
      following the payment of the Subscription made by the last of the
      Subscribers who made the payment.
    </p>
    <h2 class="term__title">3. Services provided to Subscribers</h2>
    <p class="term__text">
      The Subscriber who wishes to take out a Subscription via the Website
      acknowledges and accepts that his/her subscription is conditional upon
      acceptance of the Subscription by Shareit.sg.
    </p>
    <p class="term__text">
      Shareit.sg will debit the amount corresponding to the first month's
      Subscription, in accordance with the conditions set out in the "Financial
      Conditions" article.
    </p>
    <p class="term__text">
      In the event of a positive response to this request, the Subscriber will
      receive confirmation by any written means and in particular by email. In
      the event of a negative response to this request, the Subscriber will be
      notified by any written means and in particular by email, and will be
      refunded.
    </p>
    <p class="term__text">
      The Subscriber may choose to make several simultaneous Subscription
      requests for the same Distributor. In this case, the Subscriber
      acknowledges and accepts that in the event of simultaneous positive
      responses to these requests by the Owners, Shareit.sg will not reimburse
      the amounts charged.
    </p>
    <p class="term__text">
      In the event that the Owner terminates his Subscription, Shareit.sg
      undertakes to reimburse the Subscriber the monthly amount of the
      Subscription, pro rata to the number of days remaining until the end of
      the month of Subscription concerned.
    </p>
    <h2 class="term__title">4. Financial conditions</h2>
    <h2 class="term__title">4.1 Prices</h2>
    <p class="term__text">
      In the context of the provision of Services to Subscribers, Shareit.sg
      receives a commission, the amount of which is indicated as below. Unless
      otherwise stated, prices are in Singapore dollars.
    </p>
    <table class="term__table">
      <tr class="term__table-row">
        <th class="term__table-cell">Plan</th>
        <th class="term__table-cell">SGD</th>
      </tr>
      <tr class="term__table-row">
        <td class="term__table-cell">Netflix Standard</td>
        <td class="term__table-cell">2.23</td>
      </tr>
      <tr class="term__table-row">
        <td class="term__table-cell">Netflix Family</td>
        <td class="term__table-cell">1.80</td>
      </tr>
      <tr class="term__table-row">
        <td class="term__table-cell">Spotify Familly</td>
        <td class="term__table-cell">1.36</td>
      </tr>
      <tr class="term__table-row">
        <td class="term__table-cell">Spotify Duo</td>
        <td class="term__table-cell">1.80</td>
      </tr>
      <tr class="term__table-row">
        <td class="term__table-cell">Disney 1 month</td>
        <td class="term__table-cell">1.36</td>
      </tr>
    </table>
    <p class="term__text">
      Shareit.sg reserves the right, at its own discretion and on terms to be
      determined by it, to offer promotional offers or price reductions.
    </p>
    <h2 class="term__title">4.2 Price review</h2>
    <p class="term__text">
      The prices referred to in the article "Prices" may be revised by
      Shareit.sg at any time, at its free discretion.
    </p>
    <p class="term__text">
      The User shall be informed of such changes by Shareit.sg by any useful
      written means (and in particular by email) at least 1 (one) month before
      the new prices come into force.
    </p>
    <p class="term__text">
      Once in force, the new prices apply when the Subscription is renewed.
    </p>
    <h2 class="term__title">4.3 Terms of payment</h2>
    <p class="term__text">
      Payment of the Subscription price is made using the User's bank card
      number. Implemented by the company Stripe, which alone keeps the User's
      bank details for this purpose. Stripe service terms can be found here:
      <a href="https://stripe.com/en-sg/ssa" class="term__link"
        >https://stripe.com/en-sg/ssa</a
      >
    </p>
    <p class="term__text">
      The price of the Subscription is due and will be debited on the day the
      Subscription is taken out, and then on its anniversary date at each
      renewal.
    </p>
    <p class="term__text">
      The User guarantees Shareit.sg that he/she has the necessary
      authorisations to use the chosen method of payment. The User undertakes to
      take the necessary steps to ensure that the price of the Subscription can
      be debited automatically.
    </p>
    <h2 class="term__title">5. Late payments and payment incidents</h2>
    <p class="term__text">
      The User is hereby informed and expressly accepts that any delay in
      payment of all or part of an amount due on the due date will automatically
      lead, after 3 (three) unsuccessful attempts to collect the amount, without
      prejudice to the provisions of the articles "Penalties for default" and
      "Resolution", to the immediate suspension of the Services in progress
      until full payment of all amounts due by the User.
    </p>

    <h2 class="term__title">6. Duration of the Services, deregistration</h2>
    <p class="term__text">
      The Services are subscribed to for an indefinite period.
    </p>
    <p class="term__text">
      The User may unsubscribe from the Services at any time, through his
      Personal Space.
    </p>
    <h2 class="term__title">7. Obligations of the User</h2>
    <p class="term__text">
      Without prejudice to the other obligations set out herein, the User
      undertakes to comply with the following obligations.
    </p>
    <p class="term__text">
      <strong class="term__text-bold">7.1</strong> The User undertakes, when
      using the Services, to comply with the laws and regulations in force and
      not to infringe the rights of third parties or public order.
    </p>
    <p class="term__text">
      <strong class="term__text-bold">7.2</strong> The User acknowledges that
      he/she has taken note on the Site of the characteristics and constraints,
      particularly technical, of all the Services. The User is solely
      responsible for his/her use of the Services and in particular for the
      relationships he/she may establish with other Users and the information
      he/she communicates to them within the framework of the Services. It is
      the User's responsibility to exercise appropriate caution and discernment
      in these relationships and communications. The User also undertakes to
      respect the usual rules of politeness and courtesy in his exchanges with
      other Users.
    </p>
    <p class="term__text">
      In this respect, the Subscriber acknowledges and accepts that he/she
      undertakes not to modify the information related to the Owner's
      Subscription and available when connecting to the Distributor's website,
      in particular the Owner's contact details and payment information.
    </p>
    <p class="term__text">
      The Subscriber is also responsible for maintaining the confidentiality of
      the login and password and undertakes in this respect not to communicate
      them to a third party and to use them for purely personal purposes.
    </p>
    <p class="term__text">
      Furthermore, the Subscriber acknowledges and accepts that the Subscription
      may only be used in the geographical area specified in the Distributor's
      general terms and conditions. Consequently, in the event of an attempt to
      connect outside the geographical area specified, he/she undertakes to
      inform the Owner in order to avoid any suspicion of fraud.
    </p>
    <p class="term__text">
      The Owner acknowledges and accepts that by offering a Subscription on the
      Site, it undertakes to be the owner of the Subscription concerned. In the
      event of any doubt as to the ownership of a Subscription, Shareit.sg
      reserves the right to withdraw the Owner's access to the Services under
      the conditions set out in the "Penalties for breaches" article of this
      Contract.
    </p>
    <p class="term__text">
      Furthermore, the Owner undertakes to offer on the Site only Subscriptions
      (i) allowing the simultaneous connection of several users and (ii)
      subscribed in Singapore.
    </p>
    <p class="term__text">
      Finally, the Owner is authorised to offer the Subscription on the Site
      during a free trial period provided that the Subscription is renewed at
      the end of the trial period. If the Subscription is not renewed,
      Shareit.sg reserves the right to suspend the Owner's access to the
      Services under the conditions set out in the article "Penalties for
      non-compliance".
    </p>
    <p class="term__text">
      <strong class="term__text-bold">7.3</strong> The User undertakes to make
      strictly personal use of the Services. Consequently, he/she shall not
      assign, grant or transfer all or part of his/her rights or obligations
      hereunder to a third party in any way whatsoever.
    </p>
    <p class="term__text">
      <strong class="term__text-bold">7.4</strong> The User undertakes to
      provide Shareit.sg with all necessary information and, more generally, to
      cooperate actively with Shareit.sg for the proper performance of this
      Agreement.
    </p>
    <p class="term__text">
      <strong class="term__text-bold">7.5</strong> The User is solely
      responsible for the content of any kind (editorial, graphic, audio,
      audiovisual or other, including the name and/or image chosen by the User
      to identify him/her on the Site) that he/she disseminates within the
      framework of the Services (hereinafter referred to as
      <strong class="term__text-bold">"Content"</strong>).
    </p>
    <p class="term__text">
      The User guarantees Shareit.sg that it has all the rights and
      authorisations necessary for the dissemination of such Content.
    </p>
    <p class="term__text">
      The User undertakes to ensure that such Content is lawful, does not
      infringe public order, public morality or the rights of third parties,
      does not violate any legislative or regulatory provision and, more
      generally, is in no way likely to incur the civil or criminal liability of
      Shareit.sg.
    </p>
    <p class="term__text">
      <strong class="term__text-bold">7.6</strong> The User acknowledges that
      the Services offer an additional, non-alternative solution for accessing
      Distributors' Subscriptions and that this solution is not a substitute for
      any other means the User may have to achieve the same objective.
    </p>
    <p class="term__text">
      <strong class="term__text-bold">7.7</strong> The User is informed and
      accepts that the implementation of the Services requires that he/she be
      connected to the Internet and that the quality of the Services depends
      directly on this connection, for which he/she is solely responsible.
    </p>
    <h2 class="term__title">8. User's guarantee</h2>
    <p class="term__text">
      The User indemnifies Shareit.sg against all claims, complaints, actions
      and/or demands whatsoever that Shareit.sg may suffer as a result of the
      User's breach of any of its obligations or warranties under these terms
      and conditions.
    </p>
    <p class="term__text">
      She/he undertakes to compensate Shareit.sg for any loss it may suffer and
      to pay all costs, charges and/or fines that it may have to bear as a
      result.
    </p>
    <h2 class="term__title">9. Penalties for non-compliance</h2>
    <p class="term__text">
      In the event of a breach of any of the provisions of these general terms
      and conditions or, more generally, a breach of the laws and regulations in
      force by a User, Shareit.sg reserves the right to take any appropriate
      measure and in particular to :
    </p>
    <ul class="term__list">
      <li class="term__list-item">
        (i) suspend or remove access to the Services of the User who is the
        author of the breach or infringement, or who has participated in it,
      </li>
      <li class="term__list-item">
        (ii) remove any Content posted on the Site in connection with the breach
        or infringement in question, in whole or in part,
      </li>
      <li class="term__list-item">
        (iii) publish on the Site any information message that Shareit.sg deems
        useful,
      </li>
      <li class="term__list-item">
        (iv) notify any competent authority, cooperate with them and provide
        them with all information useful for the investigation and repression of
        illegal or illicit activities,
      </li>
      <li class="term__list-item">(v) take any legal action.</li>
    </ul>
    <p class="term__text">
      Sahreit.sg also reserves the right to terminate the User's access to the
      Services:
    </p>
    <p class="term__text">
      Termination automatically leads to the deletion of the User's Account,
      without prejudice to any other consequences that may arise in application
      of these general conditions.
    </p>
  </div>
</section>
