{% extends "./templates/layout/_base.html" %}

{% from "templates/components/_icon.html" import icon %}

{% block page_title %}
		Market 1
{% endblock %}

{% block page_header %}
	{{ header(isWhite=true, haveUserMenu="true") }}
{% endblock %}

{% set pageClass='page--market pb-0' %}

{% block page_content %}
  <section class="section section--market">
    <div class="container">
      <h1 class="page__header">
        <span class="return">
          <a href="market.html" class="return__link">{{ icon(name='return') }}</a>
          Which service would you like to <span class="text-green">subscribe</span> to?
        </span>
      </h1>
      <div class="row row--market5">
        <div class="col col--market5">
          <a href="market3.html" class="market-service market-service--with-price">
            <img class="market-service__img" src="images/services/spotify.svg" alt="">
            <div class="price">
              <p class="price__title">Price from:</p>
              <div class="price__wrapper">
                <span class="price__small">S<span class="price__dollar">$</span></span>
                4.18
                <span class="price__small">/mo</small>
              </div>
            </div>
          </a>
        </div>
        <div class="col col--market5">
          <a href="market3.html" class="market-service market-service--with-price">
            <img class="market-service__img" src="images/services/netflix_red.svg" alt="">
            <div class="price">
              <p class="price__title">Price from:</p>
              <div class="price__wrapper">
                <span class="price__small">S<span class="price__dollar">$</span></span>
                5.75
                <span class="price__small">/mo</small>
              </div>
            </div>
          </a>
        </div>
        <div class="col col--market5">
          <a href="market3.html" class="market-service market-service--with-price">
            <img class="market-service__img" src="images/services/disney_plus.svg" alt="">
            <div class="price">
              <p class="price__title">Price from:</p>
              <div class="price__wrapper">
                <span class="price__small">S<span class="price__dollar">$</span></span>
                2.62
                <span class="price__small">/mo</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--ellipse">
    <div class="container">
      <h2 class="section__header">Can’t find your favourite service?</h2>
      <p class="section__description">Feel free to rich to us:</p>
      <a href="index.html" class="button button--black button--get-support">Get Support</a>
    </div>
  </section>
{% endblock %}
