{% extends "./templates/layout/_base.html" %}

{% from "templates/components/_icon.html" import icon %}

{% block page_title %}
		Start saving
{% endblock %}

{% block page_header %}
	{{ header(isWhite=true, haveUserMenu="true") }}
{% endblock %}

{% set pageClass='page--market' %}

{% block page_content %}
  <section class="section section--market section--market1">
    <div class="container">
      <h1 class="page__header">What would you like to do?</h1>
      <div class="row row--market">
        <div class="col col--market">
          <div class="market-action">
            <h2 class="market-action__title">I own a subscription</h2>
            <p class="market-action__description">I want to share and start saving!</p>
            <a class="button button--blue button--saving market-action__button" href="market2.html">Share</a>
          </div>
        </div>
        <div class="col col--market">
          <div class="market-action">
            <h2 class="market-action__title">I look for a subscription</h2>
            <p class="market-action__description">I want to subscribe!</p>
            <a class="button button--blue button--saving market-action__button" href="market2.html">Subscribe</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
