{% extends "./templates/layout/_base.html" %}

{% from "templates/components/_icon.html" import icon %}

{% block page_title %}
		Start saving 2
{% endblock %}

{% block page_header %}
	{{ header(isWhite=true, haveUserMenu="true") }}
{% endblock %}

{% set pageClass='page--market pb-0' %}

{% block page_content %}
  <section class="section section--market">
    <div class="container">
      <h1 class="page__header">
        <span class="return">
          <a href="market.html" class="return__link">{{ icon(name='return') }}</a>
          Which service would you like to <span class="text-red">share</span>?
        </span>
      </h1>
      <div class="row row--market2">
        <div class="col col--market2">
          <a href="market3.html" class="market-service">
            <img class="market-service__img" src="images/services/spotify.svg" alt="">
          </a>
        </div>
        <div class="col col--market2">
          <a href="market3.html" class="market-service">
            <img class="market-service__img" src="images/services/netflix_red.svg" alt="">
          </a>
        </div>
        <div class="col col--market2">
          <a href="market3.html" class="market-service">
            <img class="market-service__img" src="images/services/disney_plus.svg" alt="">
          </a>
        </div>
        <div class="col col--market2">
          <a href="market3.html" class="market-service">
            <img class="market-service__img" src="images/services/netflix_green.svg" alt="">
          </a>
        </div>
        <div class="col col--market2">
          <a href="market3.html" class="market-service">
            <img class="market-service__img" src="images/services/disney_plus_yellow.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--ellipse">
    <div class="container">
      <h2 class="section__header">Can’t find your favourite service?</h2>
      <p class="section__description">Feel free to let us know!</p>
      <a href="index.html" class="button button--black button--get-support">Get Support</a>
    </div>
  </section>
{% endblock %}
