{% extends "./templates/layout/_base.html" %}

{% from "templates/components/_form-group.html" import formGroup %}

{% block page_title %}
		Reset Password
{% endblock %}

{% block page_header %}
	{{ header(isWhite=true) }}
{% endblock %}

{% set pageClass='page--reset-password' %}

{% block page_content %}
    <section class="section section--reset-password">
      <div class="container">
        <div class="reset-password">
          <h1 class="reset-password__header">Reset Password</h1>
          <form action="index.html">
            {{ formGroup(inputType="email", labelText="Email", value="mike.vazovski@hotmail.com") }}
            {{ formGroup(inputType="password", labelText="Password") }}
            {{ formGroup(inputType="password", labelText="Repeat Password", hideButton=true) }}
            <button class="button button--blue button--reset-password" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </section>
{% endblock %}
