@import 'styles/vars/base';

:host {
  position: fixed;
  z-index: 5001;
  bottom: 100px;
  right: 20px;
  display: block;
  max-width: 405px;

  :host-context(.modal-shown) & {
    right: calc(20px + var(--scrollbar-width));
  }

  @media (max-width: 766.02px) {
    right: 15px;
    margin-left: 15px;
  }
}

.notification-bar {
  display: flex;
  flex-direction: row;
  filter: drop-shadow(0 4px 32px rgba(0, 0, 0, 0.14));

  &:not(:last-of-type) {
    margin-bottom: 7px;
  }

  &--warning {}

  &--error {}

  &__icon-box { // .notification-bar__icon-box
    width: 60px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-green;
    padding: 0 0 0 1px;
    border-radius: 12px 0 0 12px;

    .notification-bar--warning & {
      background-color: $color-yellow;
    }

    .notification-bar--error & {
      background-color: $color-red;
    }
  }

  &__icon { // .notification-bar__icon
    width: 30px;
    height: 30px;
    flex: none;
    color: #fff;
  }

  &__body { // .notification-bar__body
    border: 2px solid rgba($color-green, .66);
    border-left: 0;
    border-radius: 0 12px 12px 0;
    padding: 15px 12px 15px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 70px;
    min-width: 200px;
    background: #fff linear-gradient(180deg, rgba(191, 191, 191, 0.2) 0%, rgba(255, 255, 255, 0.2) 49.76%, rgba(240, 240, 240, 0.2) 100%);

    &--has-extra-button {
      flex-direction: column;
      align-items: stretch;
      padding-bottom: 5px;
    }

    .notification-bar--warning & {
      border-color: rgba($color-yellow, .66);
    }

    .notification-bar--error & {
      border-color: rgba($color-red, .66);
    }
  }

  &__message { // .notification-bar__message
    color: $main-text-color;
    font-size: 16px;
    font-weight: 500;
    flex-grow: 1;
  }

  &__control-box { // .notification-bar__control-box
    padding-left: 6px;
    display: flex;
    flex-direction: row;

    .notification-bar__body--has-extra-button & {
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__spinner {
    width: 24px;
    height: 24px;
    color: $main-text-color;
    transition: opacity .2s;
    opacity: 0;

    &--loading {
      opacity: 1;
      animation: rotate 1s linear infinite;
    }
  }

  &__control { // .notification-bar__control
    border: 0;
    background-color: rgba(#fff, 0);
    color: $color-blue;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color .2s, background-color .02s;
    padding: 12px 6px;
    border-radius: 3px;
    margin-right: -4px;

    &:focus-visible,
    &:hover {
      color: $color-black;

      .notification-bar--warning & {
        color: darken(#b29f09, 10%);
      }

      .notification-bar--error & {
        color: darken(#a0181d, 10%);
      }
    }

    &:hover:active {
      background-color: darken($color-light-gray, 4%);
    }

    &:disabled {
      cursor: not-allowed;
      color: lighten($color-black, 20%);
    }

    .notification-bar--warning & {
      color: #b29f09;
    }

    .notification-bar--error & {
      color: #a0181d;
    }

    &:not(:last-of-type) {
      margin-right: 6px;
    }
  }
}
