<section class="section restore-password__box">
  <div class="container">
    <div class="restore-password">
      <h1 class="restore-password__header">Reset Password</h1>
      <p *ngIf="restorePasswordError$ | async" class="restore-password__error-box">
        <svg-icon name="attention" class="restore-password__error-icon"></svg-icon>
        <span class="restore-password__error-text">
          An error occurred during changing the password.<br> To continue better to request a new password recovery link.
          <a (click)="handleOpenForgotPassword($event)" href="javascript:void(0)" class="restore-password__error-link" title="">Request new recovery link</a>
        </span>
      </p>
      <form [formGroup]="formGroup" (submit)="handleFormSubmit($event)">

        <app-input-control label="Email" [control]="formGroup.get('email')" [isErrored]="false"
            [disabled]="true">
        </app-input-control>

        <app-create-password-control label="Password"
            [control]="formGroup.get('password')"
            (onChangePasswordVisability)="handleChangingPasswordVisability($event)">
        </app-create-password-control>

        <app-password-control *ngIf="formGroup.get('passwordConfirmation')" label="Repeat Password"
            [control]="formGroup.get('passwordConfirmation')" [disabled]="isLoading$ | async"
            [isErrored]="isPasswordConfirmationInvalid"
            [message]="isPasswordConfirmationInvalid ? 'Password confirmaion mismatch' : '' "
            [hideIcon]="true">
        </app-password-control>

        <button class="button button--blue restore-password__button" type="submit"
            [ngClass]="{'button--loading': isLoading$ | async}"
            [attr.disabled]="!isSubmitEnabled ? 'disabled' : null">
          Submit
        </button>
      </form>
    </div>
  </div>
</section>
