<form [formGroup]="formGroup" (submit)="handleFormSubmit($event)">

  <app-password-control label="Old Password" [control]="formGroup.get('oldPassword')" [disabled]="(isLoading$ | async)"
        [isErrored]="isOldPasswordInvalid || (changePasswordError$ | async)" [message]="isOldPasswordInvalid ? 'Required' : (changePasswordError$ | async) ? 'Old password is wrong' : ''" [isAutocompleteOff]="true" [isAutoFocus]="true">
  </app-password-control>

  <app-create-password-control label="New Password" [control]="formGroup.get('newPassword')"
    (onChangePasswordVisability)="handleChangingPasswordVisability($event)">
  </app-create-password-control>

  <app-password-control *ngIf="formGroup.get('passwordConfirmation')" label="Repeat Password" [control]="formGroup.get('passwordConfirmation')" [disabled]="(isLoading$ | async)"
        [isErrored]="isPasswordConfirmationInvalid" [message]="isPasswordConfirmationInvalid ? 'Password confirmaion mismatch' : '' " [hideIcon]="true">
  </app-password-control>

  <div class="modal__wrapper modal__wrapper--two-buttons modal__wrapper--pt">
    <button class="button button--outline-black button--half" type="button" (click)="handleCloseModal()">Cancel</button>
    <button class="button button--black button--half" [ngClass]="{'button--loading': (isLoading$ | async)}" type="submit"
        [attr.disabled]="!isSubmitEnabled ? 'disabled' : null">Save</button>
  </div>
</form>
