.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 66px;
  border-bottom: 1px solid $color-transparent;
  transition: border-color 0.2s, box-shadow 0.2s;

  @include respond-to(md) {
    height: 80px;
  }

  &__user-actions { // .header__user-actions
    display: flex;
    margin-left: auto;
  }

  &__user-menu { // .header__user-menu
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
  }

  &--white { // .header--white
    border-bottom: 1px solid #e4e6e8;
    background-color: #fff;
    box-shadow: 0 1px 12px rgba(#000, 0.08);
  }

  &--shadow { // .header--shadow
    border-bottom: 1px solid #e4e6e8;
    box-shadow: 0 1px 12px rgba(#000, 0.08);
  }
}
