.requirements {
  margin-bottom: 24px;

  &__item { // .requirements__item
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: #72777a;

    &--success { // .requirements__item--success
      color: $color-black;
    }

    &--error { // .requirements__item--error
      color: $color-red;
    }
  }

  &__item-icon { // .requirements__item-icon
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    padding: 1px;
    background-color: #d7d7d7;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    color: #fff;

    .requirements__item--success & {
      background-color: #68d7d4;
      border-color: #27c5c1;
    }

    .requirements__item--error & {
      background-color: #e8797d;
      border-color: #e04c52;
    }
  }
}
