.reset-password {
  margin: 0 -16px;
  padding: 0 16px;
  background-color:#fff;
  border-radius: 12px;
  text-align: center;

  @include respond-to(md) {
    padding: 34px 20px 38px;
    box-shadow: 0 3px 24px rgba(#000, .06);
  }

  @include respond-to(sm) {
    width: 100%;
    max-width: 408px;
    margin: 0 auto;
  }

  &__header { // .reset-password__header
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: -0.04em;

    @include respond-to(md) {
      margin-bottom: 28px;
      font-size: 38px;
    }
  }
}
