{% from "templates/components/_icon.html" import icon %}
{% from "templates/components/_form-group.html" import formGroup %}

<!-- Modal Sign Up -->
<div class="modal modal--sign-up">
		<div class="modal__card">
				<div class="modal__header">
					<h2 class="modal__title">Sign Up</h2>
					<button class="modal__close">
            {{ icon(name="modal-close") }}
          </button>
				</div>
        <div class="alert alert--success">
          <div class="alert__icon">
            {{icon(name="alert-success")}}
          </div>
          <p class="alert__text">You are successfully signed up. <br>Sign in, please.</p>
        </div>
				<div class="modal__body">
          <div class="modal__wrapper modal__wrapper--brand-buttons">
            <button class="brand-button brand-button--google">{{icon(name="google-logo", class="brand-button__icon")}}Sign Up with Google</button>
            <button class="brand-button brand-button--facebook">{{icon(name="facebook-logo", class="brand-button__icon")}}Sign Up with Facebook</button>
          </div>
          <div class="separator"><span class="separator__text">or</span></div>
          <form action="index.html">
            <div class="row row--form">
              <div class="col col--form">
                {{ formGroup(inputType="text", labelText="First Name") }}
              </div>
              <div class="col col--form">
                {{ formGroup(inputType="text", labelText="Last Name") }}
              </div>
            </div>
            {{ formGroup(inputType="email", labelText="Email") }}
            {{ formGroup(inputType="password", labelText="Password", showPassword=true, value='p@sSw0rd') }}
            <ul class="requirements">
              <li class="requirements__item">
                <span class="requirements__item-icon">{{icon(name="requirement-default")}}</span>
                At least 8 characters long
              </li>
              <li class="requirements__item requirements__item--success">
                <span class="requirements__item-icon">{{icon(name="requirement-default")}}</span>
                Contains uppercase letters
              </li>
              <li class="requirements__item requirements__item--error">
                <span class="requirements__item-icon">{{icon(name="requirement-error")}}</span>
                Contains number
              </li>
              <li class="requirements__item">
                <span class="requirements__item-icon">{{icon(name="requirement-default")}}</span>
                Contains lowercase letters
              </li>
            </ul>
            {{ formGroup(inputType="password", labelText="Repeat Password") }}
            <div class="modal__wrapper modal__wrapper--remember">
              <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="su-remember">
                <label class="checkbox__label" for="su-remember">
                  {{ icon(name="check", class="checkbox__check") }}
                  I have read the <a class="modal__link" href="#">Terms & Conditions</a>
                </label>
              </div>
            </div>
            <button class="button button--blue button--modal-submit" type="submit" disabled>Sign Up</button>
          </form>
          <p class="modal__text">Already have an account? <a class="modal__link" href="#" data-modal="sign-in">Sign In</a></p>
				</div>
		</div>
</div>
