{% from "templates/components/_icon.html" import icon %}
{% from "templates/components/_form-group.html" import formGroup %}

<!-- Modal Forgot Password -->
<div class="modal modal--forgot-password">
		<div class="modal__card">
				<div class="modal__header">
					<h2 class="modal__title">Forgot Password</h2>
					<button class="modal__close">
            {{ icon(name="modal-close") }}
          </button>
				</div>
        <div class="alert alert--success">
          <div class="alert__icon">
            {{icon(name="alert-plane")}}
          </div>
          <p class="alert__text">We have sent an email to your address with a link to restore your password</p>
        </div>
				<div class="modal__body">
          <p class="modal__text modal__text--forgot-password">Please enter your email, and we will send you a link to change the password</p>
          <form action="index.html">
            {{ formGroup(inputType="email", labelText="Email") }}
            <button class="button button--blue button--modal-submit" type="submit">Send</button>
          </form>
          <p class="modal__text">Do not have an account? <a class="modal__link" href="#" data-modal="sign-up">Sign Up</a></p>
				</div>
		</div>
</div>
