{% from "templates/components/_icon.html" import icon %}

<!-- Modal Cancel Subscription -->
<div class="modal modal--cancel-subscription">
		<div class="modal__card">
				<div class="modal__header">
					<h2 class="modal__title">Cancel a subscription</h2>
					<button class="modal__close">
            {{ icon(name="modal-close") }}
          </button>
				</div>
        <div class="alert alert--error alert--no-icon">
          <p class="alert__text">Please note that deleting the subscription will automatically cut off the withdrawals from your subscribers!</p>
        </div>
				<div class="modal__body">
          <p class="modal__text">You can create a new subscription at any time.</p>
          <div class="modal__wrapper modal__wrapper--two-buttons">
            <button class="button button--red button--half js-modal-close">Confirm</button>
            <button class="button button--outline-black button--half js-modal-close">Close</button>
          </div>
				</div>
		</div>
</div>
