{% from "templates/components/_icon.html" import icon %}
{% from "templates/components/_form-group.html" import formGroup %}

<!-- Modal Sign Up -->
<div class="modal modal--change-password">
		<div class="modal__card">
				<div class="modal__header">
					<h2 class="modal__title">Changing Password</h2>
					<button class="modal__close">
            {{ icon(name="modal-close") }}
          </button>
				</div>
				<div class="modal__body">
          <form action="index.html">
            {{ formGroup(inputType="password", labelText="Old Password", hideButton=true) }}
            {{ formGroup(inputType="password", labelText="New Password") }}
            {{ formGroup(inputType="password", labelText="Repeat Password", hideButton=true) }}
            <div class="modal__wrapper modal__wrapper--two-buttons">
              <button class="button button--outline-black button--half js-modal-close" type="button">Cancel</button>
              <button class="button button--black button--half" type="submit">Save</button>
            </div>
          </form>
				</div>
		</div>
</div>
